## [Start] Set the primary key. **
$util.qr($ctx.stash.metadata.put("modelObjectKey", {
  "doctorID": $util.dynamodb.toDynamoDB($ctx.args.doctorID),
  "zipcode": $util.dynamodb.toDynamoDB($ctx.args.zipcode)
}))
## [End] Set the primary key. **
{}