<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159173208911-b3d0l62nv01a49jifsojtelc4pmog6os.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159173208911-b3d0l62nv01a49jifsojtelc4pmog6os</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>159173208911-7cbiv91a3njofpcp8b6npsfu9dlpc4lm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDusOwk1wDVThonrBy_9ROGLloz0fzuNsE</string>
	<key>GCM_SENDER_ID</key>
	<string>159173208911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vr1126.firebeats</string>
	<key>PROJECT_ID</key>
	<string>firebeats-43aaf</string>
	<key>STORAGE_BUCKET</key>
	<string>firebeats-43aaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159173208911:ios:d09f64c02b28c64785333a</string>
	<key>DATABASE_URL</key>
	<string>https://firebeats-43aaf-default-rtdb.firebaseio.com</string>
</dict>
</plist>